asgiref==3.3.4
async-generator==1.10
attrs==21.2.0
beautifulsoup4==4.9.3
bs4==0.0.1
certifi==2021.5.30
cffi==1.14.5
chardet==4.0.0
chromedriver-binary==90.0.4430.24.0
cryptography==3.4.7
Django==3.2.3
django-widget-tweaks==1.4.8
fake-useragent==0.1.11
future==0.18.2
h11==0.12.0
idna==3.2
lzstring==1.0.4
numpy==1.21.0rc1
outcome==1.1.0
pandas==1.2.4
pyasn1==0.4.8
pycparser==2.20
pyOpenSSL==20.0.1
python-dateutil==2.8.1
pytz==2021.1
requests==2.25.1
rsa==4.7.2
selenium==4.0.0b3
six==1.16.0
sniffio==1.2.0
sortedcontainers==2.4.0
soupsieve==2.2.1
sqlparse==0.4.1
trio==0.18.0
trio-websocket==0.9.2
urllib3==1.26.5
wsproto==1.0.0